<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<div class="container" style="text-align: center;">
			<h3>Lista de médicos</h3>
			<!-- <img alt="" th:src="@{/image/home-image.jpeg}" style="width:500px;"> -->
		</div>
		
		<div class="container">
			<label for="cars">Choose a car:</label>
			<select name="cars" id="cars" onchange="window.location.href = '?filter='+this.value;">
				<option selected="selected" value=""></option>
				<option value="Todos">TODOS</option>
			  	<option th:each="especialidade : ${especialidades}"
			  		th:text="${especialidade}">
			  	</option>
			</select>
			<div class="container" id="listagem">
		</div>

		<div th:replace="fragments/alert"></div>

		<div class="table-responsive">
			<table class="table table-striped table-hover table-sm">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Especialidade</th>
						<th>CRM</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="medico : ${medicos}">
						<td th:text="${medico.nome}"></td>
						<td th:text="${medico.especialidade}"></td>
						<td th:text="${medico.crm}"></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div th:replace="fragments/modal :: modal"></div>

	</section>
</body>
</html>